.board {
    background-color: #ffbb00e3;
    color: white;
    max-width: 230px;
    height: 100px;
}

.creat-board {
    background-color: grey;
    color: white;
    max-width: 230px;
    height: 100px;
}